/config/database.php
/config/superadmin.local.php
/storage/backups/*
!/storage/backups/.gitkeep
/storage/update/*
!/storage/update/.gitkeep
/uploads/*
!/uploads/.gitkeep
!/uploads/avatar/
!/uploads/avatar/.gitkeep
.env
.DS_Store
